<div class="container" *ngIf="weatherData; else emptyList" (click)="showForecast()">
  <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{convertToCelsius(weatherData.main.temp)}}°
  </div>
  <div class="weatherWidgetRow" style="font-size: 12px;">{{convertToCelsius(weatherData.main.temp_min)}}° /
    {{convertToCelsius(weatherData.main.temp_max)}}°</div>
  <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{convertToCelsius(weatherData.main.feels_like)}}°
  </div>
  <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{weatherData.name}}</div>
  <div class="weatherWidgetRow" style="font-size: 12px;">Wind strength: {{weatherData.wind.speed}} meter/sec</div>
  <div *ngIf="forecastData && forecastEnabled">
    <div class="forecastItem" *ngFor="let item of forecastData.slice(0,5);">
      <p>{{ item.dt * 1000 | date:'dd/MM/yyyy hh' }}</p>
      <p>{{ convertToCelsius(item.main.temp) }}°</p>
    </div>
  </div>
</div>

<ng-template #emptyList>
  <p>Empty List</p>
</ng-template>
