<!-- Weather Cart Container -->
<div *ngIf="weatherData; else emptyList">
  <div class="container" (click)="showForecast()">

    <div class="area_currentTemperatureTitle">
      <div class="weatherRow currentTemperatureTitle">{{convertToCelsius(weatherData.main.temp)}}°C
      </div>

      <div class="area_temperatureSubtitle">
        <div class="weatherRow temperatureSubtitle">Min:
          {{convertToCelsius(weatherData.main.temp_min)}}°C |
          Max: {{convertToCelsius(weatherData.main.temp_max)}}°C</div>
        <div class="weatherRow temperatureSubtitle">Feels Like: {{convertToCelsius(weatherData.main.feels_like)}}°
        </div>
      </div>
    </div>


    <div class="weatherRow cityTitle">{{weatherData.name}}</div>
    <div class="weatherRow windSubtitle">Wind strength: {{weatherData.wind.speed}} meter/sec</div>

<!-- Forecast Cart Container -->
    <div class="forecastTable" *ngIf="forecastData && forecastEnabled">
      <div class="forecastItem" *ngFor="let item of forecastData.slice(0,5);">
        <p>{{ item.dt * 1000 | date:'hh:mm a' }}</p>
        <p>{{ convertToCelsius(item.main.temp) }}°C</p>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyList>
  <p>Empty List</p>
</ng-template>
